@model MyApp.Models.Item
@{
    ViewData["Title"] = "Delete";
}

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 mx-auto">
                <h1 class="text-white text-center">Sterge o tema</h1>
            </div>
        </div>
    </div>
</section>

<section class="featured-section" style="background-color: transparent;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-light shadow-lg">
                    <h3>Esti sigur ca doresti sa stergi tema?</h3>

                    <p>@Model.Titlu</p>
                    <p>@Model.Termen saptamani</p>

                    <form asp-action="Delete" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
